<h1>Admin Dashboard</h1>
<table>
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.full_name %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td>
          <%= link_to 'Edit', edit_admin_user_path(user) %>
          <%= link_to 'Delete', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure you want to delete this user?' } %>
          <%= link_to 'Promote to Admin', promote_admin_user_path(user), method: :put %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
